<% include ./partials/header %>
    <link rel="stylesheet" type="text/css" href="css/fingerStyles.css" />
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="center-div">
                <h1>Fingers Guessing Game</h1>

                <a href="/">Go Home</a>
    
                <p>How many fingers are YOU holding up (0-5)?</p>
                <form action="/fingers" method="post">
                    <select name="test" id="userNbr">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>                            
                        <option>5</option>
                    </select>                        
                    <button id="submit">Submit</button>
                </form>
                    
                <p>Program will try and guess how many you're holding up and reveal how many attempts it took to figure it out</p>
                        
                <!--insert return values here-->
                <% if (errorMsg){ %>
                    <h1 id="error" style="color: red">
                        <%= errorMsg %>
                    </h1>
                <% } %>
    
                <h3>You were holding up 
                    <% if (guess === "___" || guess >= 0 && guess <= 5){ %>
                        <%= guess %>
                    <% } %>
                finger(s)!</h3>
                                    
                <h4>It took the program 
                    <% if (count){ %>
                        <%= count %>
                    <% } %>
                attempt(s) to figure it out!</h4>
            </div>
        </div>
    </div>

<% include ./partials/footer %>