<% include ./partials/header %>
    <link rel="stylesheet" type="text/css" href="css/squadStyles.css" />
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="center-div">
                <div class="row">
                    <div class="col-sm">
                        <h1>Squad Maker</h1>

                        Click here for the <a href="/fingers">Fingers Game</a>
                    </div>
                    <div class="col-sm">
                        <form action="/" method="post">
                            <div class="form-group">
                                <label for="squadNbr">Number of Teams</label>
        
                                <input class="col-sm-5" id="squadNbr" type="number" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <div id="table-div">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th id="table-title" colspan="4">Wait List</th>
                        </tr>
                        <tr id="th-subtitles">
                            <th>Player</th>
                            <th class="table-center">Skating</th>
                            <th class="table-center">Shooting</th>
                            <th class="table-center">Checking</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% players.forEach((player) => { %>
                        <tr>
                            <td><%= player.name %></td>
                            <td class="table-center"><%= player.skating %></td>
                            <td class="table-center"><%= player.shooting %></td>
                            <td class="table-center"><%= player.checking %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer %>