#table-div {
    margin: 25px 10px 0px 10px;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
table {
    table-layout: fixed;
}
#table-title {
    border-top-style: none;
    font-size: 200%;
    text-align: center;
}
#th-subtitles {
    background-color: #efefef;
}
.table-center {
    text-align: center;
}