#table-div {
    margin: 25px 10px 0px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
table {
    table-layout: fixed;
    width: 100%;
}
td {
    word-wrap: break-word;
}
#table-title {
    border-top-style: none;
    font-size: 200%;
    text-align: center;
}
#th-subtitles {
    background-color: #efefef;
}
.table-center {
    text-align: center;
}
#playersList {
    font-size: 75%;
}
.head {
    margin-bottom: 20px;
}
#avg-highlight {
    background-color: #e3f7f9;
    font-weight: bold;
}