body {
    background-color: #f0f0f2 !important;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main {
    margin: 5em auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 1em;
}
.center-div {
    text-align: center;
}
.center-div p, .center-div h4 {
    margin-top: 20px;
}
a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
.row {
    border: 2px dotted burlywood;
}